{% load i18n %}
{% load url from future %}
{% load humanize %}
{% load widget_tweaks %}
<tr>
		<td><a href="{% url 'applicants:detail' applicant.pk_masked %}">{{ applicant.pk_masked }}</a></td>
		<td>{{ applicant.housenumber|add_class:"span4" }}</td>
		<td>{{ applicant.address_line1|add_class:"span4"  }}</td>
		<td>{{ applicant.postal|add_class:"span4" }}</td>
		<td>{{ applicant.mobile_phone|add_class:"span4"  }}</td>
		<td>{{ applicant.user|add_class:"span4" }}</td>
		<td>{{ applicant.hhsize|add_class:"span4" }}</td>
		<td>{{ applicant.score|add_class:"span4" }}</td>
		<td>{{ applicant.created_at|naturaltime|add_class:"span4" }}</td>
	</tr>