{% load widget_tweaks %}
{% load mathfilters %}
{% load get_range %}

<table class="table table-bordered table-striped info">
	<tbody>
	{% for k in applicant.get_all_fields|length|div:4|floatformat|add:1|get_range %}
		<tr>
			{% for field in applicant.get_all_fields %}
			{% if forloop.counter0 >= k|mul:4 and forloop.counter <= k|mul:4|add:3 %}
				<th>{{ field.label }}</th>
			{% endif %}
			{% endfor %}
		</tr>
		<tr>
			{% for field in applicant.get_all_fields %}
			{% if forloop.counter0 >= k|mul:4 and forloop.counter <= k|mul:4|add:3 %}
				<td>{{ field.value }}</td>
			{% endif %}
			{% endfor %}
		</tr>
	{% endfor %}
	</tbody>
</table>