{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load humanize %}
{% load widget_tweaks %}
{% load mathfilters %}
{% load get_range %}

{% block content_title %}{% trans 'Register New Package' %}{% endblock %}

{% block content %}

<form action="{% url 'applicants:create' %}" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}

	<table>
	{% for field in form %}
		{% if forloop.counter0|divisibleby:5 %}
			<tr>
			{% for field in form %}
				{% if forloop.counter0 >= forloop.parentloop.counter0 and forloop.counter0 <= forloop.parentloop.counter0|add:4 %}
					<th>{{ field.label_tag }}{{ field.errors }}	</th>
				{% endif %}
			{% endfor %}
			</tr>
			<tr>
			{% for field in form %}
				{% if forloop.counter0 >= forloop.parentloop.counter0 and forloop.counter0 <= forloop.parentloop.counter0|add:4 %}
					<td>{{ field }}</td>
				{% endif %}
			{% endfor %}
			</tr>
		{% endif %}
	{% endfor %}
	</table>
	<div class="grid_24">
		<input type="submit" value="Next >" />
	</div>
</form>

{% endblock %}