{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load humanize %}
{% load widget_tweaks %}
{% load mathfilters %}
{% load get_range %}

{% block content_title %}{% trans 'My Applicant' %}{% endblock %}

{% block content %}
{% include "applicants/applicant_level_info.html" %}

<h2>Household members</h2>
{% if applicant.householdmember_set.all %}
<table class="package_detail">

	<tr>
		{% include "applicants/householdmember_heading_snippet.html" %}
	</tr>
	
	{% for householdmember in applicant.householdmember_set.all %}
	<tr>
		
		{% for field in householdmember.get_all_fields %}
			<td>{{ field.value }}</td>
		{% endfor %}

	</tr>
	{% endfor %}
</table>

	{% else %}
		{% trans 'No householdmembers in this applicant.' %}<br/><br/>
	{% endif %}
	{% ifequal user.username applicant.user.username %}
	<table>
	<tr>
	<form action="{% url 'applicants:update' applicant.pk_masked %}">{% csrf_token %}
	<input class="button" type="submit" value="Edit Householdmembers"/>
	</form>	
	</tr>
	<tr>
	<form action="{% url 'applicants:update_applicant' applicant.pk_masked %}">{% csrf_token %}
	<input class="button" type="submit" value="Edit Applicant" />
	</form>
	</tr>
	<tr>
	<form action="{% url 'applicants:delete' applicant.pk_masked %}">{% csrf_token %}
	<input class="button delete" type="submit" value="Delete Applicant" />
	</form>
	</tr>
	</table>
	{% endifequal %}
{% endblock %}