{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load humanize %}
{% load widget_tweaks %}
{% load mathfilters %}
{% load get_range %}

{% block content_title %}{% trans 'Applicants' %}{% endblock %}

{% block content %}

<div id="list_applicants">
	<a class="btn btn-info" href="#"><i class="icon-book icon-white"></i> List of Applicants</a>
	<a class="btn btn-info" href="#"><i class="icon-plus icon-white"></i> New Applicant</a> 
	<a class="btn btn-info" href="#"><i class="icon-download-alt icon-white"></i> Download Applicant Data</a>
	
{% if applicant_list %}
{% if is_paginated %}	
	<div class="grid_24">
		{% include 'applicants/pagination.html' %}
	</div>
{% endif %}
	<table class="table table-bordered table-striped">
		{% include "applicants/applicant_heading_snippet.html" %}
		{% for applicant in applicant_list %}
			{% include "applicants/applicant_detail_row_snippet.html" %}
		{% endfor %}
	</table>
{% else %}
		<p>{% trans 'No applicants.' %}</p>
{% endif %}
</div>
{% endblock %}