{% load i18n %}
{% load url from future %}

<div class="pagination ">
    <ul class="page-links">
    	{% if page_obj.has_other_pages %}
           
            {% if page_obj.has_previous %}
                <li>
                    <span>
                        <a href="/applicants?page={{ page_obj.previous_page_number }}">{% trans 'Prev' %}</a>
                    </span>
                </li>
            {% else %}
                <li>
                    <span>{% trans 'Prev' %}</span>
                </li>
            {% endif %}
            {% for count in page_obj.paginator.page_range %}
            <li> 
				{% ifequal forloop.counter page_obj.number %}
                    <span class="page-current">
					{{ page_obj.number }}
					</span>
				{% else %}
					<span><a href="/applicants?page={{ forloop.counter }}">{{ forloop.counter }}</a></span>
				{% endifequal %}
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li>
                    <span>
                        <a href="/applicants?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a>
                    </span>
                </li>
            {% else %}
                <li>
                    <span>{% trans 'Next' %}</span>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</div>