{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load humanize %}
{% load widget_tweaks %}

{% block content_title %}<h1>{% trans 'Update Applicant' %}</h1>{% endblock %}

{% block content %}

<form action="{% url 'applicants:update_applicant' pk_masked %}" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
	<!-- {% include 'applicants/create_edit_applicant_snippet.html' %} -->
	<table class="table table-bordered table-striped">
		<tbody>
			{% for field in form %}
				{% if forloop.counter0|divisibleby:4 %}
				<tr>
					{% for field in form %}
						{% if forloop.counter0 >= forloop.parentloop.counter0 and forloop.counter0 <= forloop.parentloop.counter0|add:3 %}
							<th>{{ field.label_tag }}{{ field.errors }}	</th>
						{% endif %}
					{% endfor %}
				</tr>
				<tr>
					{% for field in form %}
						{% if forloop.counter0 >= forloop.parentloop.counter0 and forloop.counter0 <= forloop.parentloop.counter0|add:3 %}
							<td>{{ field }}</td>
						{% endif %}
					{% endfor %}
				</tr>
				{% endif %}
			{% endfor %}
			</tbody>
	</table>
	<button type="submit" class="btn btn-primary pull-right">Next <i class="icon-chevron-right icon-white"></i></button>
</form>
{% endblock %}