{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load humanize %}
{% load widget_tweaks %}
{% load mathfilters %}
{% load get_range %}
{% load ifregextags %}
{% load get_input_type %}

{% block content_title %}{% trans 'Update or add household members' %}{% endblock %}
{% block extrahead %}
	<link rel="stylesheet" href="/static/development-bundle/themes/base/jquery.ui.all.css">
    <script src="/static/js/jquery-1.9.1.js"></script>
    <script src="/static/development-bundle/ui/jquery.ui.core.js"></script>
    <script src="/static/development-bundle/ui/jquery.ui.widget.js"></script>
    <script src="/static/development-bundle/ui/jquery.ui.datepicker.js"></script>
    <script>
    $(function() {
        $("input[name$=date_of_birth]").datepicker({ 
        	changeMonth: true, 
        	changeYear: true,
        	yearRange: "-120:+0",
        	dateFormat: "yy-mm-dd",
        });
    });
    </script>
{% endblock %}

{% block content %}
{% include "applicants/applicant_level_info.html" %}

<h2>Household Members</h2>
<form class="package_detail" action="{% url 'applicants:update' pk_masked %}" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
{{ formset_householdmember.management_form }}
<table class="table table-bordered table-striped">
	<tr>
		{% for form in formset_householdmember %}
			{% ifequal forloop.counter 1 %}
				{% for field in form.visible_fields %}
					{% if field|input_type == "CheckboxInput" %}
						<th class="span1">{{ field.label }}</th>
					{% else %}
						<th class="span1">{{ field.label }}</th>
					{% endif %}
				{% endfor %}
			{% endifequal %}
		{% endfor %}
	</tr>
	{% for form in formset_householdmember %}
	<tr>
		{% for field in form %}
			{% if field.is_hidden %}
				{{ field }}
			{% else %}
				<td>
				{{ field.errors }}
				<!-- if the field is a checkbox or a dropdown, then need a different span -->
				{% if field|input_type == "CheckboxInput" %}
					{{ field|add_class:"span1" }}
				{% else %}
					{{ field|add_class:"span1" }}
				{% endif %}
				</td>
			{% endif %}
		{% endfor %}
	</tr>
	{% endfor %}
</table>
<input class="btn btn-info" type="submit" value="Save" name="saveonly"/>
<input class="btn btn-info" type="submit" value="Save and add more" name="saveandaddmore"/>
</form>
{% endblock %}
