{% load staticfiles %}
{% load i18n %}
{% load url from future %}
{% load ifregextags %}
{% load widget_tweaks %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap/css/bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap/css/bootstrap-responsive.min.css" %}">
  <title>{% block title %}{{ site.domain }}{% endblock %}</title>
  {% block meta %}{% endblock %}
  {% block extrahead %}{% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">

	<div id="wrapper">
		<div id="header_holder">
			<div id="header">
				<div id="header_left" class="pull-left">
					<h1 class="pull-left"> Socialassistanceregisrty.com</h1>
					{% block subtitle %}
					<h4>{% trans 'Application intake software' %}</h4>{% endblock %}
					<div class="clearfix"></div>
				</div>
				
				{% if user.is_authenticated %}
				<div id="header_right" class="pull-right">
				{% else %}
				<div id="login" class="pull-right">
				{% endif %}
					{% block right_header %}
					{% if user.is_authenticated %}
						<ul class="inline">
							<li class="">
								<a href="{% url "faq" %}"><i class="icon-question-sign"></i> FAQ</a>
							</li>	
							<li class="">
								<a href="{% url 'userena_profile_detail' user.username %}"><i class="icon-user"></i> Profile</a>
							</li>
							<li class="">
								<a href="{% url "userena_signout" %}"><i class="icon-off"></i> Logout</a>
							</li>	
						</ul>
					{% else %}
					<form class="form-inline" method="post" action="{% url 'userena_signin' %}">{% csrf_token %} 
            {{ form_signin.non_field_errors }}
            {{ form_signin.identification.errors }}
            {{ form_signin.identification|add_class:"span2"|attr:"placeholder:Username" }}
					  <!-- <input type="text" class="span2" placeholder="Username"> -->
            {{ form_signin.password.errors }}
            {{ form_signin.password|add_class:"span2"|attr:"placeholder:Password" }}
					  <!--  <input type="password" class="span2" placeholder="Password"> -->
					  <button type="submit" class="btn btn-primary">{% trans 'Sign in' %}</button>
  					<ul class="inline">
  						<li>
  							<label class="checkbox">
  							  <input type="checkbox"><small>{% trans 'Keep me logged in' %}</small>
  							</label>
  						</li>
  						<li><a href=""><small>{% trans 'Forgot your password?' %}</small></a></li>
  					</ul>
          </form>
					{% endif %}
					{% endblock %}
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		
		
		<div id="main_content_holder">
			<div id="main_content">
		        <div id="list_submenu">
		          {% ifregex "^/.*/accounts/" request.path %}

		            <a class="btn btn-info" href="{% url 'userena_profile_detail' user.username %}">{% trans "My profile" %}</a>
		            <a class="btn btn-info" href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit profile" %}</a>
		            <a class="btn btn-info" href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a>
		            <a class="btn btn-info" href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a>
		            <a class="btn btn-info" href="{% url 'userena_profile_list' %}">{% trans "View Profiles" %}</a>

		          {% endifregex %}
		          {% ifregex "^/.*/applicants/" request.path %}
		            
		            <a class="btn btn-info" href="{% url 'applicants:index' %}"><i class="icon-book icon-white"></i> List of Applicants</a>
		            <a class="btn btn-info" href="{% url 'applicants:create' %}"><i class="icon-plus icon-white"></i> New Applicant</a> 
		            <a class="btn btn-info" href="{% url 'applicants:download_all' %}"><i class="icon-download-alt icon-white"></i> Download Applicant Data</a>
		            
		          {% endifregex %}
	        	</div>
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>