<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="/static/css/style.css">
  <title></title>
  
  
</head>
<body id="" class="">
  
  <div class="wrap container_24">
    <header class="clearfix"> 
      <div id="logo" class="grid_10">
        <h1>Socialassistanceregistry.com</h1>
        <h2>Application intake software</h2>
        <h3>(for social assistance programs, but could be used for other programs)</h3>
        <p class="fineprint">download the code:<a href="https://github.com/shafiquejamal/socialassistanceregistry.git">https://github.com/shafiquejamal/socialassistanceregistry.git</a></p>
      </div>
      <div class="grid_12">
        <div id="loginbox" class="grid_14">
          <ul>
            <li><a href="/en/">Home</a></li>
          
            <li><a href="/en/accounts/signin/" title="Signup">Login</a></li>
            <li><a href="/en/accounts/signup/" title="Register">Register</a></li>
          
          <li><a href="/en/faq/" title="FAQ">FAQ</a></li>
          </ul>
        </div>
      </div>
    </header>
  
    

    <div class="main clearfix">
        
<div class="grid_24">
<div class="grid_12 leftupperbox alpha">
	<h2>About this site</h2>
	<ul>
	<li>This is a demo of a national registry, which could be for social protection or programs. If you would like to have the code, please email me: shafique.jamal@gmail.com. I hope to one day put all the code on Github.com</li>
    <li>This site is implemented in Python using the Django (1.5) framework</li>
    <li>It easily supports multiple languages</li>
    <li>It keeps track of changes to social assistance applications</li>
	</ul>
</div>
<div class="grid_12 rightupperbox omega">
	<h2>How to use this site</h2>
    <ul>
    <li>Register as a social administrator by filling the form below or clicking register (top right) and filling the form that is then presented</li>
    <li>After you register, click on "Registry Applications" in the top right menu to view applications (details and index), enter applicaitons, edit applications, and maybe more. Note: you can only edit applications that you have entered, not applications that others have entered. But you can view all applications in the system.</li>
    </ul>
</div>
</div>
<div class="grid_24">
<div class="grid_12 leftlowerbox alpha">
	<h2>Download the code for this site from GitHub.com</h2>
    <ul>
    <li>The code is available here: <a href="https://github.com/shafiquejamal/socialassistanceregistry">https://github.com/shafiquejamal/socialassistanceregistry</a></li>
    </ul>
</div>
<div class="grid_12 rightlowerbox omega">
    <h2>Watch a video demo</h2>
    <iframe width="560" height="315" src="http://www.youtube.com/embed/cou0e1HkKhI" frameborder="0" allowfullscreen></iframe>
</div>	
</div>


<div class="grid_24">
<form class="userena" action="/en/accounts/signup/" method="post">
  <input type='hidden' name='csrfmiddlewaretoken' value='eJLy33MFJxvHTjLKA8Hmwm2T1ftvLgst' />
    <h1>Try out the website - Register</h1>
    
    
        
        
        
            <p>
            <label for="id_username">Username</label> 
            <input class="required" id="id_username" maxlength="30" name="username" type="text" />
            </p>
        
    
        
        
        
            <p>
            <label for="id_email">Email</label> 
            <input class="required" id="id_email" maxlength="75" name="email" type="text" />
            </p>
        
    
        
        
        
            <p>
            <label for="id_password1">Create password</label> 
            <input class="required" id="id_password1" name="password1" type="password" />
            </p>
        
    
        
        
        
            <p>
            <label for="id_password2">Repeat password</label> 
            <input class="required" id="id_password2" name="password2" type="password" />
            </p>
        
    
  <input type="submit" value="Signup" />
</form>
</div>


    </div>

    <footer class="grid_24">
        <p>Copyright (c) 2013 Domain.com. All right reserved. <a href="/en/termsandconditions/">Website Terms of Use and Service Terms and Conditions</a>.</p>
    </footer>
  </div>
</body>
</html>
